html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face {
  font-family: 'NanumSquareOTFBold';
  font-style: normal;
  font-weight: 100;
  src: url('./Font/NanumSquareOTFBold.otf') format('nanumb');
}
@font-face {
  font-family: 'NanumSquareOTFBold';
  font-style: normal;
  font-weight: 100;
  src: url('./Font/NanumSquareOTFRegular.ot.otf') format('nanumr');
}
@font-face {
  font-family: 'NanumSquareOTFBold';
  font-style: normal;
  font-weight: 100;
  src: url('./Font/ONE Mobile POP OTF.otf') format('om');
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 100;
  src: url('./Font/ONE Mobile POP OTF.otf') format('om');
}