body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NanumSquareOTFBold';
  font-style: normal;
  font-weight: 100; 
  src: url('./Constants/fonts/NanumSquareOTFBold.otf') format('nanumb');
}
@font-face {
  font-family: 'NanumSquareOTFBold';
  font-style: normal;
  font-weight: 100; 
  src: url('./Constants/fonts/NanumSquareOTFRegular.ot.otf') format('nanumr');
}
@font-face {
  font-family: 'NanumSquareOTFBold';
  font-style: normal;
  font-weight: 100; 
  src: url('./Constants/fonts/ONE\ Mobile\ POP\ OTF.otf') format('om');
}
